certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
decorator==5.3.1
future==1.0.0
geocoder==1.38.1
idna==3.19
narwhals==2.25.0
numpy==2.5.2
numpy-typing-compat==20260602.2.5
optype==0.18.0
packaging==26.3
pandas==3.0.5
pandas-stubs==3.0.5.260730
plotly==6.9.0
python-dateutil==2.9.0.post0
ratelim==0.1.6
requests==2.34.2
scipy==1.18.1
scipy-stubs==1.18.1.0
six==1.17.0
urllib3==2.7.0
geocoder==1.38.1
python-dotenv